.border {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    /* 추가적인 스타일링 */
}

.name {
    display: flex; /* flex 컨테이너 설정 */
    flex-direction: column; /* 위에서 아래로 배치 */
    /* 기타 필요한 스타일 */
}

.id {
    display: flex; /* 가로 방향으로 요소 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    /* 필요에 따라 추가 스타일링 */
}

.profile-title {
    align-self: center;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: CooperBlack;
}

.profile-name {
    font-size: 20px; /* 폰트 크기 변경 */
    font-weight: bold; /* 굵은 글씨체 */
    margin-right: 71px; /* 오른쪽 여백 */
    /* 기타 스타일링 */
}

.round-button {
    width: 18px; /* 버튼 크기 */
    height: 18px;
    border-radius: 50%; /* 원형 버튼 */
    background-image: url("./btn.svg"); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    border: none; /* 버튼의 테두리 제거 */
}

.profile-stats {
    display: flex;
    justify-content: normal;
    width: 100%;
}

.profile-travels {
    font-size: 14px;
    text-align: center;
    font-family: CooperBlack;
}

.profile-likes {
    font-size: 14px;
    text-align: center;
    margin-left: 5vw;
    font-family: CooperBlack;
}

.profile-date {
    font-size: 14px;
    text-align: start;
    font-family: CooperBlack;
}

.profile-image {
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
}
