.check-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: white;
    /* border: 1px solid red; */
    overflow: auto;
    position: relative;
}
.check-list::-webkit-scrollbar {
    width: 5px;
}
.check-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.check-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    height: 20%;
}

.check-list-add-btn-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.check-list-add-btn {
    cursor: pointer;
    margin: 5px;
    text-decoration-line: underline;
    font-size: 14px;
    display: flex;
}

.check-list-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    /* border: 1px solid red; */
}

.check-list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 340px;
    /* border: 1px solid blue; */
}

.check-list-item {
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 10px;
    outline: none;
    margin: 10px;
    font-size: 20px;
}

.check-list-item-checkbox {
    /* width: 30px;
    height: 30px;
    margin: 5px;
    accent-color: yellowgreen;
    cursor: pointer; */
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    height: 26px;
    width: 30px;
    border: 2px solid gray;
}
input[type="checkbox"]::after {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    left: 35%;
    position: relative;
    top: 15%;
    transform: rotate(40deg);
    height: 50%;
    width: 20%;
}
input[type="checkbox"]:checked {
    background: #95d88a;
    border: none;
}
input[type="checkbox"]:checked::after {
    display: block;
}

.check-list-item-delete {
    cursor: pointer;
}

.check-list-box {
    margin: 10px;
    width: 750px;
    /* border: 1px solid green; */
}

.check-list-box-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* border: 1px solid magenta; */
}

.check-list-del-btn {
    margin-right: 5px;
    cursor: pointer;
}

.check-list-add-item-btn {
    width: 92px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background-color: #95d88a;
    color: white;
}

.check-list-save-btn {
    width: 61px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background-color: #f36262;
    color: white;
}

.check-list-title-edit-box {
    font-size: 18px;
    width: 250px;
    text-align: center;
}

.check-list-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.check-list-edit-btn {
    cursor: pointer;
}

.note-not-selected {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    /* border: 1px solid red; */
}

button {
    margin: 5px;
    cursor: pointer;
}
