.recommend-page{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  /* background-image: url("../../assets//images/background.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.recommend{
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 20px;

  margin: auto;
}

.recommend-thumbnail{
  width: 80vw;
  height: 31.1vw;
  background-image: url("../../assets//images/recommendThumbnail.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1116px;
  max-height: 435px;
  margin: 20px;
}

.recommend-content{
  height: 60vh;
}

.recommend-section{
  display: flex;
  height: 400px;

}

.recommend-section-1{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
}

.recommend-section-2{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.recommend-card{
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3%;
  background-color: white;
  border-radius: 73px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border: 1px solid #DFDFDF;
}

.recommend-card-title{
  font-size: 16px;
  color: #646464;
  font-weight: bold;
  margin: 10px;
  margin-top: 0px;
}

.where-button-wrap{
  display: flex;
  justify-content: center;
}

.where-button{
  width: 60%;
  text-align: start;
  color: #595555;
  font-size: medium;
  font-weight: 400;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BABABA;
  border-radius: 5px; 
  padding-left: 15px;
}

.where-button:hover{
  border: 1px solid black; /* To enable the border color change on hover */
  cursor: pointer;
}

.where-button-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.where-button-icon:hover{
  border-radius: 50%;
  background-color: #efefef;
  cursor: pointer;
}

.recommend-select-region{
  display: flex;
}

.left-list{
  width: 40%;
  height: 70%;
  border: 1px solid #67C657;
  margin: 10px;
  overflow-y: auto;
}


.left-list-item{
  padding: 15px;
  cursor: pointer;
}

.left-list-item:hover {
  background-color: #f0f0f0;
}

.left-list-item.selected {
  background-color: #D8FFD8;
}

.right-list{
  width: 40%;
  height: 70%;
  margin: 10px;
  overflow-y: auto;

}

.right-list-item{
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-list-item-button{
  background: #67C657B2;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  color: white;

}

.recommend-select-region{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.recommend-card-button{
  width: 80px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  color: #595555;
  border: 1px solid #95d88a;
  border-radius: 15px;
    transition: background-color 0.3s, color 0.3s; /* 트랜지션 효과 추가 */

}

.recommend-card-button-selected {
  background-color: #95d88a;
  color: white;
}

.recommend-button{
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 50px;
  background-color: rgb(243, 98, 98);
  color: white;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recommend-button:hover{
  cursor: pointer;
}

.disabled{
  background-color: rgb(243, 98, 98, 0.4);
}

.disabled:hover{
  cursor: not-allowed;
}

.completed-button{
  background-color: #95d88a;
}


.loading-text{
  z-index: 2;
  position: absolute;
  top: 43%;
  left: 40%;
  line-height: 0.5;
   font-size: 33px;
  font-weight: 200;
  margin-bottom: 10px;
}

.loading-text p{
  font-size: 33px;
  font-weight: 200;
  margin-bottom: 10px;
}

.completed-text{
  z-index: 2;
  position: absolute;
  top: 34%;
  left: 40%;
  line-height: 0.5;
  font-weight: 200;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completed-text p{
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 10px;
}


.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #95d88a;
  background-image: linear-gradient(#95d88a, #cbebc5, #d0eda5);
}

.loading-spinner span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #95d88a;
  background-image: linear-gradient(#95d88a, #cbebc5, #d0eda5);
}

.loading-spinner span:nth-of-type(1) {
  filter: blur(5px);
}

.loading-spinner span:nth-of-type(2) {
  filter: blur(10px);
}

.loading-spinner span:nth-of-type(3) {
  filter: blur(25px);
}

.loading-spinner span:nth-of-type(4) {
  filter: blur(50px);
}

.loading-spinner::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.people-count-container{
  width: 40%;
  height: 25px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #95d88a;
  border-radius: 15px;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.people-count-icon-minus{
  font-size: 30px;
}

.people-count-icon:hover{
  cursor: pointer;
}

.people-count-icon-plus{
  font-size: 25px;
}
