.group490 {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
}

.Title {
    height: 5vh;
    font-family: "AppleSDGothicNeoL00";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
}

.subText {
    height: 2.5vh;
    font-family: "AppleSDGothicNeoL00";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    margin: 20px auto 20px auto;
    text-align: center;
    color: #000000;
}

.rectangle {
    box-sizing: border-box;
    width: 56.95vw;
    height: 0.1%;
    background: #ffffff;
    border: 1px solid #bbbbbb;
}

.windows {
    margin-top: 1.65vh;
}
