.kakao-login{
  border: none;
  background-color:white;
  margin-top: 100px;
}

.kakao-login:hover{
  cursor: pointer;
}

/* 찜 목록 펼치기 눌렀을 때 */
.scrap-list-btn{
  margin-top: 15px;
  font-size: 40px;
  color:#C7C7C7;
}

.modal-box{
  position:fixed;
  bottom: 0; 
  left : 11.5vw;
}

.modal-box.up{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(214, 214, 214, 0.5); /* 어두운 배경의 투명도 조정 */
  backdrop-filter: blur(10px);
  z-index: 99; /* 다른 요소보다 위로 올라오도록 설정 */
}

.like-travel-box{
  display : flex;
  flex-direction: column;
  align-items: center;
  margin : auto;
  margin-top: 20px;
  border: 3px solid #e0e0e0;
  border-bottom : white;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  min-width: 840px;
  width: 77vw;
  height: 46vh;
  overflow: hidden;
}

.like-travel-box.up{
  border-color: white;
  background-color: white;
  margin-top: 0;
  height: 100vh;
}