/* styles.css */

.travel-card-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.travel-create-card {
    margin-top: 2vh;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* margin-right: 20px;  
    margin-left: 20px; */
    border: 1px solid #e4e3e3;
    background-color: white;
}

.travel-card-name {
    font-size: 30px;
    text-align: center;
    font-family: CooperBlack;
    font-weight: bold;
    margin-bottom: 10px;
}

.travel-card-duration {
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
}

.travel-card-category {
    margin-left: 20px;
    font-size: 15px;
    text-decoration: underline;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 15px;
}

.travel-create-text {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
}

.travel-card-button {
    font-size: 18px;
    text-align: center;
}

.my-travel-lists {
    overflow-y: auto;
    width: 28vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000; /* 테두리 추가 */
    background-color: white;
}

.travel-card-create-header {
    display: flex;
    flex-direction: row;
    align-items: center; /* 수직 방향에서 자식 요소들을 중앙 정렬 */
    /* margin-left: 40px; */
    /* margin-top: 40px; */
}

.image-create-container img {
    position: relative;
    top: 6vh;
    width: 38vw;

    z-index: 1000;
}

.date {
    font-size: 30px;
    margin-top: 5vh;
}

.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
}

.my-travel-create-lists {
    position: relative;
    overflow-y: auto; /* 수직으로만 스크롤 */
    width: 28vw;
    height: 56vh;
    border-radius: 15px;
    padding: 20px;
    /* border: 2px solid #000; */
    box-sizing: border-box;
    background-color: white;
}

.travel-carrd-delete {
    margin-right: 20px;
    width: 100%;
    font-size: 20px;
    text-align: right;
    text-decoration: underline;
    font-family: CooperBlack;
    font-weight: lighter;
    display: block;
}
.travel-card-places {
    font-size: 20px;
    text-align: start;
    font-family: CooperBlack;
    font-weight: lighter;
    display: block;
    white-space: nowrap;
}

.num-box {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-right: 2.34vw;
    box-sizing: border-box;
    flex-shrink: 0;
}

.inputform {
    display: flex;
    justify-content: center; /* 자식 요소들을 좌에서 우로 배치 */
    align-items: center;
    height: 40px;
    position: relative;
    border-radius: 5px; /* 둘레를 살짝 둥글게 */
    flex-direction: row-reverse; /* 버튼을 왼쪽으로 */
}
/*
.inputFormContainer {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px; /
    display: flex;
    justify-content: center; 
    align-items: center; 
}
*/

.search- {
    font-size: 20px;
    width: 450px;
    height: 30px;
    text-align: center;
    font-family: "CooperBlack";
    border-radius: 0;
    border: none;
    outline: none;
    background: none;
}

.result-Style {
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0 20px 20px 20px;
    overflow-y: scroll;
    max-height: 500px;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* 그림자를 더 진하게 */
    border-radius: 5%; /* 둘레를 살짝 둥글게 */
    background-color: white;
    opacity: 0.7;
    z-index: 9999;
    font-size: 17px;
    color: #000000;
}

.pagi-nation {
    margin-top: 1rem;
}

.pagination a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 0 10px;
}

.pagination a.on {
    color: lightblue;
    font-weight: bold;
}

.item-search-create-container {
    margin-top: 40px;
}

.item-search-create-container:hover {
    background-color: #67c65738; /* 원하는 회색 색상 */
}

.button-create-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 300px;
}
.button-create-container:last-child {
    margin-right: 0;
}
.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 30vw;
    height: 5vh;
    background-color: #95d88a;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    cursor: pointer;
    transition: 0.3s;

    &:active {
        background-color: #7dbb7a;
    }
}

.specific-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.6vh;
    /* padding: 0 6vw; */
    margin: 20px auto 0 auto;
    /* margin-top: 20px; */
    gap:20px;
}