/* styles.css */
.my-travel-lists {
    overflow-y: auto;
    width: 28vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000; /* 테두리 추가 */
    background-color: white;
}

.image-create-container img {
    position: relative;
    top: 6vh;
    width: 38vw;

    z-index: 1000;
}

.date {
    font-size: 30px;
    margin-top: 5vh;
}

.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
}

.my-travel-create-lists {
    position: relative;
    overflow-y: auto; /* 수직으로만 스크롤 */
    width: 28vw;
    height: 56vh;
    border-radius: 15px;
    padding: 20px;
    /* border: 2px solid #000; */
    box-sizing: border-box;
    background-color: white;
}

.button-create-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 300px;
}
.button-create-container:last-child {
    margin-right: 0;
}
.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: CooperBlack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 30vw;
    height: 5vh;
    background-color: #95d88a;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    cursor: pointer;
    transition: 0.3s;

    &:active {
        background-color: #7dbb7a;
    }
}

.specific-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62.6vh;
    /* padding: 0 6vw; */
    margin: 20px auto 0 auto;
    /* margin-top: 20px; */
    gap:20px;
}