h1{
    margin:0;
    color: black;
    font-style: normal;
}

.info-list-box{
    display: flex;
    flex-direction: column;
}

.info-user{
    display: flex;
    align-items: center;
    margin-bottom : 7px;
}

.info-user > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight:normal;
    color : #393939;
}

.profile-box {
    width: 26px;
    height: 26px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile-box > img{
    height: 26px;
    width: 26px;
}

.info-title{
    display: flex;
    flex-direction: column;
}

.info-title > span{
    font-size: 15px;
    font-weight: 400;
    color : #393939;
}

#info-title{
    color: black;
    font-size: 24px;
    font-weight: 550;
    margin-bottom : 5px;
}

.info-travel{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.info-travel-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 5px;
}

.info-travel-title > span{
    font-size: 15px;
    font-weight: bold;
}

.info-travel-content{
    width: 500px;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    font-weight: 550;
    color : #393939;
}

.info-hashtag{
    font-size: 15px;
    color: #393939;
    font-weight: 500;
}