/* StarRating.css */
.star-rating-card {
    width: 503px;
    height: 212px;
    top: 714px;
    left: 74px;
    border: 2px solid #757575;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
 }
  
  .star-section {
    margin-bottom: 20px;
    margin-top:px;
  }
  
  .star-container {
    display: flex;
    margin-top: 0px;
    align-items: center;
  }
  
  .star {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .star:last-child {
    margin-right: 0;
  }
  /* star.css */

.star-section h2 {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
