/* styles.css */

.travel-card {
    width: 609px;
    height: 96px;
    top: 231px;
    left: 664px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #757575;
    background-color: white;
  }
  
  .travel-card-name {
    margin-left: 20px;
    font-size: 15px;
    margin-top: 2vh;
    text-align: left;
    font-family: CooperBlack;
    margin-bottom: 15px;
  }
  
  .travel-card-duration {
    font-size: 20px;
    text-align: left;
    font-family: CooperBlack;
    margin-bottom: 10px;
  }
  
  .travel-card-category {
    margin-left: 20px;
    font-size: 15px;
  
    text-align: left;
    font-family: CooperBlack;
    margin-bottom: 15px;
    color: #757575;
  }
  
  .travel-card-text {
    font-size: 20px;
    text-align: center;
    font-family: CooperBlack;
    margin-bottom: 10px;
  }
  
  .travel-card-button {
    font-size: 18px;
    text-align: center;
  }
  
  .my-travel-lists {
    overflow-y: auto;
    width: 39vw;
    height: 51.3vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000; /* 테두리 추가 */
  }
  
  .image-container img {
    position: relative;
    top: 5vh;
    width: 39vw;
  }
  
  .date {
    font-size: 30px;
  
    margin-top: 5vh;
    margin-left: 5.6vw;
    margin-right: 5.6vw;
  }
  
  .travel-card-empty {
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    font-family: CooperBlack;
  }
  
  .my-travel-emptylists {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Or whatever height you need */
  }
  
  .checkbox-label {
    margin-right: 20px; /* 체크박스 간격 조절 */
  }
  
  .checkbox-spacing {
    width: 10px; /* 원하는 간격 너비 */
    display: inline-block;
  }
  .travel-card-name {
    position: relative; /* 부모 요소를 기준으로 자식 요소들의 위치를 설정 */
  }
  
  .sss,
  .sss2 {
    position: absolute; /* 절대 위치로 설정하여 겹치게 함 */
    top: 0; /* 위쪽으로 정렬 */
    left: 80px; /* 왼쪽으로 정렬 */
   
  }
  
  .sss2 {
    z-index: 1; 
    margin-top: 3px;
    margin-left: 6.5px;/* sss2 이미지를 sss 이미지 위로 겹치게 함 */
  }
  
  .hhh{
  
   /* 위쪽으로 정렬 */
    margin-left: 10.5px;
    position: absolute;
  }
  .ggg1{
  
    /* 위쪽으로 정렬 */
     margin-left: 490.5px;
     position: absolute;
  }
  .ggg2{
  
    /* 위쪽으로 정렬 */
     margin-left: 500.5px;
     position: absolute;
  }