.write-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
      
.write-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 75vw; /* 최대 너비를 지정 */
    margin: 10px auto 10px auto; /* 가운데 정렬을 위한 마진 설정 */
    gap:30px;
    min-width: 700px;
}

/* Left Section */
.left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.3;
}

.top-square{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 330px;
}

.course-btn{
    text-decoration: underline;
    background-color: transparent;
    border : none;
    color : black;
    font-size: 16px;
}

/* Right Section */
.right-section {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    flex: 0.6;
}

textarea, input{
    border:none;
    font-size: 14px;
    font-weight: 400;
    width: 34vw;
}

input:focus,
textarea:focus{
    outline: none;
}
    
/* 마우스 올릴 시 기본 텍스트가 안보이도록
/* Chrome, Firefox, Opera, Safari 10.1+ */
input:focus::placeholder, textarea:focus::placeholder{
    color:transparent;
}
  
/* Edge */
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder{
    color:transparent;
} 

.input-user{
    display: flex;
    align-items: center;
    margin-bottom : 7px;
}

.profile-box {
    width: 26px;
    height: 26px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile-box > img{
    height: 26px;
    width: 26px;
}

.input-user > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight:normal;
    color : #393939;
}

.input-title{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.input-box{
    border: 1px solid gray;
}

#title{
    width: 34vw;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #393939
}

.input-title > span{
    font-size: 17px;
    font-weight: 550;
    color : #393939
}

.input-travel-date{
    width: 34vw;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #696969
}

.input-travel{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.input-travel-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 10px;
}

.input-travel-title > img{
    width: 20px;
    height: 30px;
    margin-right: 7px;
}

.input-travel-title > span{
    font-size: 15px;
    font-weight: bold;
}

.input-travel-content{
    width: 34vw;
    height: 20px;
    margin: 5px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #393939;
    min-width: 250px;
}

.submit-btn{
    position: fixed;
    right : 4%;
    bottom: 3%;
    height: 70px;
    width: 70px;
    background-color: #9CBBAC;
    border: none;
    border-radius: 45%;
    color: white;
    font-size: medium;
    font-weight: 550;
}

.course-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경의 투명도 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 다른 요소보다 위로 올라오도록 설정 */
}


