.xcommunity-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
      
.xcontent-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 900px; /* 최대 너비를 지정 */
    margin: 10px auto 20px auto; /* 가운데 정렬을 위한 마진 설정 */
    gap:20px;
}
    
/* Left Section */
.left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.5;
}

.top-square{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-square{
    display: flex;
    flex-direction: row;
    width : 65%;
    gap : 10px;
}
  
.info-square-content{
    background-color: #9CBBAC;
    font-size: 15px;
    font-weight : 500;
    color : white;
    border-radius: 20px;
    width: 80px;
    height : 30px;
    text-align : center;
    padding-top:5px;
}

.course-btn{
    text-decoration: underline;
    background-color: white;
    border : none;
    color : black;
    font-size: 16px;
}

/* Right Section */
.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.5;
}

input{
    border:none;
    font-size: 14px;
    font-weight: 400;
    width: 500px;
}

input:focus{
    outline: none;
}
    
/* 마우스 올릴 시 기본 텍스트가 안보이도록
/* Chrome, Firefox, Opera, Safari 10.1+ */
input:focus::placeholder{
    color:transparent;
}
  
/* Edge */
input:focus::-ms-input-placeholder{
    color:transparent;
} 

.input-user{
    display: flex;
    align-items: center;
    margin-bottom : 7px;
}
   
.input-user > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight:normal;
    color : #131313;
}

.input-title{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.input-box{
    border: 1px solid gray;
}

#title{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #393939
}

.input-title > span{
    font-size: 17px;
    font-weight: 550;
    color : #393939
}

.input-travel-date{
    width: 500px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #696969
}

.input-travel{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.input-travel-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 10px;
}

.input-travel-title > img{
    width: 20px;
    height: 30px;
    margin-right: 7px;
}

.input-travel-title > span{
    font-size: 15px;
    font-weight: bold;
}

.input-travel-content{
    width: 500px;
    height: 20px;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    border : 1px solid rgb(221, 221, 221);
    box-shadow: 1px 2px 5px rgb(214, 214, 214);
    font-size: 14px;
    color : #393939
}

.footer{
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn{
    height: 50px;
    width: 100px;
    background-color: #9CBBAC;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: medium;
    font-weight: 550;
}