/* new.css */

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100; /* 최대 너비를 지정 */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    top: -5px;
    position: relative;
  }
  
  
  .left-section {
    display: flex;
    flex-direction: column;
    padding-left: 50px; /* 감소시킴 */
    gap: 50px;
    flex: 0.5;
  }
  
  .right-section {

    display: flex;
    flex-direction: column;
    gap: 20px;

    flex: 0.5;
  }
  
  .community-page {
    overflow-x: hidden;
  }
    