.travel-card {
    position: relative;
    margin-top: 2vh;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.64vw;
    border: 2px solid #757575;
}

.travel-card-name {
    font-size: 30px;
    text-align: center;
    font-family: AppleSDGothicNeoM00;
    font-weight: bold;
    margin-bottom: 10px;
}

.travel-card-duration {
    font-size: 20px;
    text-align: center;
    font-family: AppleSDGothicNeoM00;
    margin-bottom: 10px;
}

.travel-card-category {
    font-size: 20px;
    text-align: center;
    font-family: AppleSDGothicNeoM00;
}

.travel-card-text {
    font-size: 20px;
    text-align: center;
    font-family: AppleSDGothicNeoM00;
    margin-bottom: 10px;
}

.travel-card-button {
    font-size: 18px;
    text-align: center;
}

.day {
    font-size: 25px;
    font-family: AppleSDGothicNeoM00;
    font-weight: 400;
    margin-left: 10px;
    color: #C7C7C7;
}

.numofDay {
    font-size: 30px;
    font-family: AppleSDGothicNeoM00;
    font-weight:400;
}

.travel-card-empty {
    font-size: 30px;
    text-align: match-parent;
    height: 17.86vh;
    font-family: AppleSDGothicNeoM00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-specific-button {
    position: absolute;
    top: 5vh;
    right: 1.17vw;
    width: 2.5vw;
    height: 2.5vw;
    background: url("./edit.svg");
    border: none;
    outline: none;
    background-size: cover;
}

.edit-specific-plus-button {
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 2vw;
    height: 2vw;
    background: url("./plus.svg");
    border: none;
    outline: none;
    background-size: cover;
}

.edit-specific-minus-button {
    position: absolute;
    top: 5vh;
    right: 1.17vw;
    width: 2vw;
    height: 2vw;
    background: url("./minus.svg");
    border: none;
    outline: none;
    background-size: cover;
}

.edit-specific-extra-button {
    position: absolute;
    top: 3vh;
    right: 2vw;
    width: 2.5vw;
    height: 2.5vw;
    background: url("./edit.svg");
    border: none;
    outline: none;
    background-size: cover;
}

.edit-specific-empty-button {
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: 2.5vw;
    height: 2.5vw;
    background: url("./edit.svg");
    border: none;
    outline: none;
    background-size: cover;
}

.my-travel-specific-lists {
    position: relative;
    overflow-y: auto;
    width: 39vw;
    height: 56vh;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #000;
    background-color: white;
    box-sizing: border-box;
}

.image-container img {
    position: relative;
    top: 5vh;
    width: 39vw;
    z-index: 1000;
}

.num-box {
    width: 1.5vw;
    height: 1.5vw;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-right: 2.34vw;
}
.travel-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
    margin-left: 20px;
}

.spot-container {
    display: flex;
    align-items: center;
}

.travel-card-places {
    font-size: 20px;
    text-align: center;
    font-family: AppleSDGothicNeoM00;
    text-decoration: none;
}

.spot-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-size {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

#num-circle{
    width : 45px;
    height : 45px;
    border-radius: 50%;
    background-color: #9CBBAC; 
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

