/*          nav             */
body{
    margin:0;
}

.nav {
    display: flex;
    flex-direction: row;
    height:7.6%;
    width: 100%;
    background-color: #F9F9F9;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.main{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-logo {
    position: absolute;
    left:10px;
    top :5px;
    margin-top:10px;
    margin-left:50px;
    /* border: 1px solid red; */
}

.nav-logo-image {
    width: 220px;
    height: 50px;
    /* border: 1px solid blue; */
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-bottom: 10px;
    margin-top: 13px;
    gap:10px;
}

.nav-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: medium;
    background-color: transparent;
    transition: background-color 0.2s ease, border-radius 0.2s ease,
        height 0.2s ease;
}

.nav-menu-item:hover {
    background-color: #9CBBAC;
    color: #f5f4f4;
    width: 100px;
    height: 50px;
}

#navbar_toggle{
    display: none;
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    top : 15px;
}

/* 활성화 돼있는 메뉴인 경우*/
.active{
    background-color:  #9CBBAC;
    color: #f5f4f4;
    width: 100px;
    height: 50px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 840px) {
    #navbar_toggle{
        display: block;
    }

    .open{
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        height: 300px;
    }

    .nav-menu{
        display: none;
    }

    .nav-menu.open{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

