/*          nav             */
.nav {
    display: flex;
    height:65px;
    background-color: #f5f5f5;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* border: 1px solid black; */
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-logo {
    margin-top:10px;
    margin-left:50px;
    /* border: 1px solid red; */
}

.nav-logo-image {
    width: 220px;
    height: 50px;
    /* border: 1px solid blue; */
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 65px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: medium;
    background-color: transparent;
    transition: background-color 0.2s ease, border-radius 0.2s ease,
        height 0.2s ease;
}

.nav-menu-item:hover {
    background-color: rgb(156, 184, 148);
    color: #f5f4f4;
    width: 100px;
    height: 50px;
}

/* 활성화 돼있는 메뉴인 경우*/
.active{
    background-color:  rgb(156, 184, 148);
    color: #f5f4f4;
    width: 100px;
    height: 50px;
}